#root > .cat {
  margin: 2rem 0rem 2rem 2rem;
  padding-right: 2rem;
  height: calc(100vh - 11rem);
  overflow-y: auto;
  overflow-x: hidden;
}
.listItem {
  cursor: pointer;
  display: grid;
  max-width: max-content;
  grid-template-columns: 1fr minmax(auto, 35rem);
  column-gap: 2rem;
  margin-top: 2rem;
  padding: 2rem;
  position: relative;
  transition: 0.5s ease-in;
}
.listItem:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 10px 8px rgba(201, 200, 200, 0.486);
}
.house-img {
  width: 16rem;
  max-height: 10rem;
  object-fit: cover;
  border-radius: 1rem;
}
.listDet {
  max-height: 10rem;
  max-width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
li {
  list-style: none;
}
.listDet p {
  font-weight: 600;
}
.location {
  font-size: 0.8rem;
}
.name {
  font-size: 1.6rem;
}
.price {
  color: #00cc66;
}
.bedrooms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
}
.bedrooms p {
  font-size: 1.1rem;
  font-weight: 500;
}
.deleteIcon,
.editIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.1rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  top: 1%;
  border-radius: 50%;
  background-color: #fff;
}
.deleteIcon svg,
.editIcon svg {
  width: 1.2rem;
  height: 1.2rem;
}
.deleteIcon {
  right: 1%;
}
.editIcon {
  right: 6%;
}
.loadmore {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.loadmore button {
  padding: 1.2rem 1.8rem;
  border-radius: 1rem;
  background-color: #2c2c2c;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease-in;
}
.loadmore button:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1050px) {
  .listItem {
    padding: 1.7rem;
  }
  .listItem:hover {
    transform: scale(1.02);
  }
}
@media screen and (max-width: 950px) {
  .listItem {
    grid-template-columns: 1fr minmax(15rem, 30rem);
  }
  .listItem {
    padding: 1.7rem;
  }
  .bedrooms {
    width: 22rem;
  }
  .bedrooms p {
    font-size: 0.9rem;
  }
  .name {
    font-size: 1.4rem;
  }
  .location {
    font-size: 0.7rem;
  }
  .house-img {
    width: 14rem;
    max-height: 8rem;
  }
  .deleteIcon,
  .editIcon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .deleteIcon svg,
  .editIcon svg {
    width: 0.8rem;
    height: 0.8rem;
  }
  .loadmore button {
    font-size: 0.9rem;
    padding: 1.2rem 1.5rem;
  }
}
@media screen and (max-width: 650px) {
  .cat {
    margin: 1.2rem;
  }
  .listItem {
    padding: 1.2rem;
    column-gap: 0.8rem;
  }
  .bedrooms {
    width: 10rem;
  }
  .location {
    font-weight: 500 !important;
  }
  .bedrooms p {
    font-size: 0.46rem;
  }
  .name {
    font-size: 0.7rem;
  }
  .price {
    font-size: 0.5rem;
  }
  .location {
    font-size: 0.5rem;
  }
  .house-img {
    width: 9rem;
    max-height: 6rem;
  }
  .bedrooms img {
    max-width: 0.7rem;
    max-height: 0.7rem;
  }
  .loadmore button {
    font-size: 0.5rem;
    padding: 0.9rem 1.2rem;
    border-radius: 0.9rem;
  }
  .deleteIcon,
  .editIcon {
    width: 0.8rem;
    height: 0.8rem;
  }
  .deleteIcon svg,
  .editIcon svg {
    width: 0.4rem;
    height: 0.4rem;
  }
}
@media screen and (max-width: 450px) {
  .cat {
    margin: 1rem;
  }
  .house-img {
    width: 8rem;
    max-height: 5rem;
  }
  .listItem {
    column-gap: 0.8rem;
    grid-template-columns: 1fr 2fr;
  }
  .loadmore button {
    font-size: 0.5rem;
    padding: 0.7rem 1rem;
    border-radius: 0.7rem;
  }
}
@media screen and (max-width: 400px) {
  .house-img {
    width: 7rem;
    max-height: 4rem;
  }
}
@media screen and (max-width: 300px) {
  .house-img {
    grid-column: 1/-1;
    width: 11.2rem;
    max-height: 5rem;
  }
  .listDet {
    grid-column: 1/-1;
  }
  .listItem {
    row-gap: 1rem;
  }
  .deleteIcon,
  .editIcon {
    width: 0.7rem;
    height: 0.7rem;
  }
  .deleteIcon svg,
  .editIcon svg {
    width: 0.3rem;
    height: 0.3rem;
  }
  .deleteIcon {
    right: 10%;
  }
  .editIcon {
    right: 17%;
  }
  .listDet {
    justify-content: space-between;
  }
  .listDet p {
    margin-bottom: 0.4rem;
  }
  .cat {
    margin: 0.8rem;
  }
}
